<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Admin Panel</title>
  </head>

  <body class="bg-gray-50">
    <div class="flex min-h-screen">
      <aside
        class="w-[280px] bg-gray-100 shadow-md fixed h-full flex flex-col justify-between"
      >
        <div class="p-5">
          <div class="flex items-center gap-3 mb-6">
            <div
              class="w-10 h-10 rounded-full grid items-center overflow-hidden border-2 border-orange-400"
            >
              <img
                src="/images/rohit1.jpeg"
                class="w-full h-full object-cover"
              />
            </div>

            <h2 class="text-lg font-bold">
              Admin <span class="text-orange-500">Panel</span>
            </h2>
          </div>
          <ul class="space-y-2">
            <li>
              <a
                href="/admin/home"
                class="block px-3 py-2 rounded-md font-medium text-gray-700 hover:bg-orange-500 hover:text-white transition"
              >
                <i class="fa-solid fa-chart-line mr-2"></i>
                Dashboard
              </a>
            </li>

            <li>
              <a
                href="/admin/projects"
                class="block px-3 py-2 rounded-md font-medium text-gray-700 hover:bg-orange-500 hover:text-white transition"
              >
                <i class="fa-solid fa-folder mr-2"></i>
                Projects
              </a>
            </li>

            <li>
              <a
                href="/admin/blog"
                class="block px-3 py-2 rounded-md font-medium text-gray-700 hover:bg-orange-500 hover:text-white transition"
              >
                <i class="fa-solid fa-blog mr-2"></i>
                Blogs
              </a>
            </li>

            <li>
              <a
                href="/admin/review"
                class="block px-3 py-2 rounded-md font-medium text-gray-700 hover:bg-orange-500 hover:text-white transition"
              >
                <i class="fa-solid fa-star mr-2"></i>
                Reviews
              </a>
            </li>

             <li>
              <a
                href="/admin/task"
                class="block px-3 py-2 rounded-md font-medium text-gray-700 hover:bg-orange-500 hover:text-white transition"
              >
                <i class="fa-solid fa-envelope mr-2"></i>
                Add Task
              </a>
            </li>
          </ul>
        </div>
        <div class="p-5">
         <a href="/admin/logout">
          <button  class="w-full bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-md transition"
          >
            <i class="fa-solid fa-right-from-bracket mr-2"></i>
            Logout
          </button></a>
        </div>
      </aside>
      <main class="flex-1 ml-[280px] p-6"><%- body %></main>
    </div>
  </body>
</html>
